div.dice {
	width:32px;
	border:#000000 2px solid;
	padding:10px;
	font-size:24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
	margin:5px;
  align-self: inherit;
  margin: auto;
}

.sectionLeft {
  float: left;
  width: 20%;
  color: #1b1b1b;
	font-size:20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  align-content: center;
	text-align:center;
}
.sectionMiddle{
  float: inline-start;
  width: 30%;
  color: #1b1b1b;
	font-size:20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  align-content: center;
	text-align:center;
  position: relative;

}
.sectionRight {
  width: 50%;
  color: #1b1b1b;
	font-size:20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  align-content: center;
	text-align:center;
  display: inline-block;
  text-align: left;
}

.status {color: black;}
.pelaaja{
  float: left;
  padding: 3%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #1b1b1b;
	font-size:20px;
}
.peli1 {
  display:grid;
  text-align: center;
  border: 3px solid;
}
  

.peli2 {
  display:grid;
  text-align: center;
  border: 3px solid;
}
h1 {
  font-size:40px;
  text-align: center;
  
}
a {
  padding:70px;
  text-align: center;
}
a.tayta {
  display: block;
  width: 100%;
  text-decoration: none;
}
.peli1:hover {
background-color: rgb(168, 228, 223);
}
.peli2:hover {
  background-color: rgb(168, 228, 223);
  }